<div class="container">
  
  <h1>New Post</h1>
  <form method="post" action="/posts/new">
    <div class="input">
      <input type="text" name="title" placeholder="Enter Your Post Title">
    </div>
    <div class="input">  
      <textarea name="body" placeholder="Enter Your Post Body"></textarea>
    </div>
    <div class="input">
      <input type="text" name="tags" placeholder="Tags">
      <p class="small">Enter tags separated by a comma, eg "nut recipes, windsurfing, coding"</p>
    </div>
    <div class="input">
      <input type="submit" value="Post">
    </div>  
  </form>

</div>
